<tr>
  <td><%= tasksArr[i].title %></td>
  <td><%= tasksArr[i].category %></td>
  <td><%= tasksArr[i].description %></td>
  <td><%= tasksArr[i].priority %></td>
  <td><%= tasksArr[i].planned_time_in_seconds %></td>
  <td><%= tasksArr[i].completed %></td>
  <td><a href="/tasks/<%= tasksArr[i].id %>">details</a></td>
</tr>