<tr>
  <td><%= task.title %></td>
  <td><%= task.category %></td>
  <td><%= task.description %></td>
  <td><%= task.priority %></td>
  <td><%= task.planned_time_in_seconds %></td>
  <td><%= task.completed %></td>
  <td><a href="/tasks/<%= task.id %>">details</a></td>
</tr>